name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Install Go tools
      run: |
        go get -u golang.org/x/lint/golint
        go get -u github.com/cweill/gotests/...
        go get -u golang.org/x/tools/cmd/benchcmp

    - uses: actions/checkout@v2
    - name: Build
      run: make build

    - name: Test
      run: make test

    - name: Benchmark
      run: make bench

    - name: Trace
      run: make trace

    - name: Vet
      run: make vet
